body {
  font-family: 'SuperscriptSans', Tahoma, 'CustomSans', Arial, sans-serif;
}
.titleFont,
.title,
.section,
.lockedTitle,
.smallFancyButton {
  font-family: 'SuperscriptSerif', 'Merriweather', 'CustomSerifHeavy', Georgia, serif !important;
}
.framed q {
  font-family: 'CustomSerif', Georgia !important;
}

.framed q:before {
  font-family: 'CustomSerif', Georgia !important;
}
.framed q:after {
  font-family: 'CustomSerif', Georgia !important;
}
#prompt h3,
.prompt h3,
.fancyText {
  font-family: 'CustomSerifHeavy', Georgia, serif !important;
}
#ascendTooltip {
  font-family: Tahoma, 'CustomSans', Arial, sans serif !important;
}
.monospace {
  font-family: 'CustomMono', 'CustomSans', Courier, monospace;
}

@font-face {
  font-family: 'CustomMono';
  src: url(ChivoMono.woff2) format('woff2');
}

@font-face {
  font-family: 'SuperscriptSerif';
  font-style: normal;
  font-weight: 900;
  src: url(Superscript.woff2) format('woff2');
  unicode-range: U+2070-2080, U+00B2-00B3, U+00B9;
}

@font-face {
  font-family: 'SuperscriptSans';
  font-style: normal;
  src: url(SuperscriptSans.woff2) format('woff2');
  unicode-range: U+2070-2080, U+00B2-00B3, U+00B9;
}

@font-face {
  font-family: 'CustomSerifHeavy';
  font-style: normal;
  font-weight: 900;
  src: url(SourceHanSerifTC-Heavy.woff2) format('woff2');
  unicode-range: U+4E00-9FFF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D;
}

@font-face {
  font-family: 'CustomSerif';
  font-style: normal;
  src: url(SourceHanSerifTC-Regular.woff2) format('woff2');
  unicode-range: U+4E00-9FFF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D;
}

@font-face {
  font-family: 'CustomSans';
  font-style: normal;
  src: url(MicrosoftJhengHei.woff2) format('woff2');
  unicode-range: U+4E00-9FFF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D;
}
